{% extends 'base.html' %}

{% block content %}
<h1 id="signuph">Sign Up</h1>
<form method ="POST">
    {{ form.hidden_tag() }}
    
    {{form.username(class='form-control',id="signupuser", placeholder='Username')}}
    {{form.email(class='form-control', id="signupemail",placeholder='Email')}}
    {{form.password(class='form-control',id="signuppassword", placeholder='Password')}}
    {{form.confirm_password(class='form-control', id="signupconfirm",placeholder='Confirm Password')}}
    {{form.submit(id='btn')}}
</form>

{% endblock %}