<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      display: inline;
    }
    </style>


<div>
    <ul>
        <li>
            <a href="#">Home Page</a>
        </li>
        <li>
            <a href="#">Players</a>
        </li>
        <li>
            <a href="#">Stats</a>
        </li>
        <li>
            <a href="#">News</a>
        </li>
        <li>
            <a href="#">Starting 5 All Time</a>
        </li>
    </ul>
</div>