<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
                </li>

                {% if current_user.is_authenticated %}

                    <li class="nav-item">
                        <p class="nav-link">Baller {{ current_user.username }}!</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/search">Players</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/dreamteam">Dream Team</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/drafts">All Drafts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/mydraft">My Draft</a>
                      </li>
                {% else %}
                    <li class="nav-item">
                        <p class="nav-link">Make An Account Here</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/signup">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
